
 * {
    background-color: greenyellow;
 }
 
 h1 {
    color: brown;
    text-align: center;
    font-size: 130px;
    box-shadow: 40px;
    text-shadow: 10px 15px 20px rebeccapurple;
}
p {
    color: blue;
    font-size: 30px;
    text-shadow: 10px 10px 10px rgb(6, 233, 146);
}
h3 {
    font-size: 45px;
    color: crimson;
    text-decoration: underline;
}
ul {
    color: rgb(245, 10, 10);
}
.box {
    width: 100px;
    height: 100px;
    padding: 50px;
    margin: 50px;
    color: blue;
    border: 30px solid red;
    background: chartreuse;
}
.h1-2 {
    font-size: 40px;
}

.h2 {
    color: blue;
}

